version: '3'
services:
  sdk:
    build:
      context: .
      dockerfile: Dockerfile.ci
    depends_on: [node]
    entrypoint: docker/wait-for-it.sh node:3013 --
    env_file: [./build/docker/sdk.env]
    environment:
      - WALLET_PRIV=${WALLET_PRIV}
      - WALLET_PUB=${WALLET_PUB}
    volumes:
      - .:/go/src/app

  node:
    image: aeternity/aeternity:${TAG}
    hostname: node
    expose: [3013, 3113]
    environment:
      EPOCH_CONFIG: /home/aeternity/aeternity.yaml
    command: -aecore expected_mine_rate ${EPOCH_MINE_RATE:-15000}
    volumes:
      - ${PWD}/build/docker/aeternity_node_mean16.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/build/docker/accounts.json:/home/aeternity/node/data/aecore/.genesis/accounts_test.json
      - ${PWD}/build/docker/keys/node:/home/aeternity/node/keys
      - node_db:/home/aeternity/node/data/mnesia
      - node_keys:/home/aeternity/node/keys

volumes:
  node_db:
  node_keys:
